@charset "UTF-8";

/*여백초기화*/
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
thd,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/*a링크 초기화*/
a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #2698cb;
}

/*폰트초기화*/
body,
input,
textarea,
select,
button,
table {
  font-family: "Noto Sans KR", "Magun Gothic", "맑은 고딕", dotum, "돋움",
    sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
  /*//폰트사이즈 기준1.6 13*1.6=약 20*/
}

/*폰트 스타일 초기화*/
em,
address {
  font-style: normal;
}

/*블릿기호 초기화*/
ul,
li,
ol {
  list-style: none;
}

/*제목테그 초기화*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}

/*버튼초기화*/
button {
  border: 0;
}

/*반응형*/
img {
  width: 100%;
}

/*clearfix*/
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/*IR효과*/
.ir,.ir_su,.ir_pm,.ir_wa{
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/*margin*/
.mt10 {
  margin-top: 10px ;
}
.mt15 {
  margin-top: 15px ;
}
.mt20 {
  margin-top: 20px ;
}
.mt25 {
  margin-top: 25px ;
}
.mt30 {
  margin-top: 30px ;
}
.mt35 {
  margin-top: 35px ;
}
.mt40 {
  margin-top: 40px ;
}
.mt45 {
  margin-top: 45px ;
}
.mt50 {
  margin-top: 50px;
}

.ui_slelet2{width: 100%;
background:#2c2f34 url(../img/down.svg)no-repeat right 20px center;
background-size: 12px;
appearance: none;/* //원래 있던 화살표가 지워짐 */
color: #fff;
border: none;
height: 36px;
padding: 0 10px;
box-sizing: border-box;
}

.ui_input3{
  width: 100%;
  height: 36px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #ccc;
  border: none;
  outline: none;
}

/* SB(stoty board):사이트제작에 필요한 정보(정책.프로세스,기능정의,콘텐츠의 구성)가 담겨있는 화면 설계서, 기획자들이 작성하는 문서중의 하나, 기능 및 홤녀이동에 대한 설계 등등

need: 고객의 요구사항

CMS(Content Management System)
전문지식은 없지만, 사이트 운영할 수 있도록 만든 툴(카페24,고도물,...)

PG(Payment Gateway):소액결제시스템
->인터넷에서 금융기관 거래 대행 서비스, ARS 결제, 휴대폰결제,
신용카드, 계좌이체(무통장)등 고객 결제 대행서비스

PM(Project Manager)
프로젝트의 모든 관리업무를 책임지는 사람,
10명의 인원들을 모두 관리 감독, 스케쥴관리 및 총괄책임자

PL(Project Leader)
파트책임자, 타 파트 협동 등을 리더하는 사람

과업지시서
과객의 제작, 발주업체가 입찰업체에게 웹서비스를 제작해 달라고 요구하는 청구서(어떤 사이트처럼 만들어달라, 필요한 기능을 요구,자신이 가진 자본으로 얼마의 기간에 완성) -- 고객의 요구 사항

제안요청서
발주자가 특정 과제의 수행에 필요한 요구사항을 체계적으로 정리하여 제시하는 서류

*/